*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
*.css.ts

Thumbs.db
UserInterfaceState.xcuserstate
$RECYCLE.BIN/


.env
.DS_Store
.package.tmp.json


.vagrant/
myapp/.idea/
myapp/.sourcemaps/
myapp/.vscode/
myapp/.sass-cache/
myapp/.versions/
myapp/coverage/
myapp/dist/
myapp/node_modules/
myapp/tmp/
myapp/temp/
myapp/www/
myapp/hooks/
myapp/src/themes/version.scss
myapp/scripts/e2e/webpackEntryPoints.json
myapp/scripts/build/e2e-generated-tsconfig.json